.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;

}
.bg-home{
    position: relative;
}
.bg-home:before{
    content: '';
    display: block;
    position: absolute;
    background-image:  url(../imagens/bg.svg);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.hero{
  color: var(--branco-normal);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content-h1{
text-align: center;
line-height: 150%;
max-width: 940px;
font-size: 46px;
}

.content-p{
    text-align: center;
    margin: 14px 0;
    
}

.button-contact{
    padding: 14px 28px;
    color: var(--branco-normal);
    background-color: var(--vermelho-normal);
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover{
    animation: scaleButton 0.8 alternate infinite;
}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width:768px){
  .hero{
    min-height: 60vh;
  }
  h1{
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  p{
    font-size: 14px;
  }
}

@media screen and (max-width:480px) {
    .hero h1{
        font-size: 24px;
    }
}

/* abount*/

.about{
    background-color: transparent;
    overflow: hidden;
    color: var(--branco-normal);

}

.about-content{
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img{
        max-width: 570px;
    }
}

.about-content div {
    flex: 1;
}


.abount-description  > h2 {
    font-size: 38px;
    margin-bottom: 24px;
}
    
.abount-description > p {
    margin-bottom: 14px;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .about-content{
        flex-direction: column;
    }
}

