.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;

}
.bg-home{
    position: relative;
}
.bg-home:before{
    content: '';
    display: block;
    position: absolute;
    background-image:  url(../imagens/bg.svg);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.hero{
  color: var(--branco-normal);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content-h1{
text-align: center;
line-height: 150%;
max-width: 940px;
font-size: 46px;
}

.content-p{
    text-align: center;
    margin: 14px 0;
    
}

.button-contact{
    padding: 14px 28px;
    color: var(--branco-normal);
    background-color: var(--vermelho-normal);
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover{
    animation: scaleButton 0.8 alternate infinite;
}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width:768px){
  .hero{
    min-height: 60vh;
  }
  h1{
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  p{
    font-size: 14px;
  }
}

@media screen and (max-width:480px) {
    .hero h1{
        font-size: 24px;
    }
}

/* abount*/

.about{
    background-color: transparent;
    overflow: hidden;
    color: var(--branco-normal);

}

.about-content{
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img{
        max-width: 570px;
    }
}

.about-content div {
    flex: 1;
}


.abount-description  > h2 {
    font-size: 38px;
    margin-bottom: 24px;
}
    
.abount-description > p {
    margin-bottom: 14px;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .about-content{
        flex-direction: column;
    }
}

.services{
    background-color: var(--branco-normal);
    color: var(--black-normal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px; 
}

.serviçes-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}

.serviçes-content p {
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
}

.heaircuts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 44px 34px 44px;  
}

.heircut{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--branco-normal);
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgb(0,0, 0,0.45);
    overflow: hidden;

}

.img-cabelo img {
    width: 100%;
    max-width: 354px;
}

.heircut img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.haircut-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: var(--branco-normal);
    z-index: 99;
}
.haircut-info button{
    color: var(--branco-normal);
    background-color: var(--vermelho-normal);
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
    cursor: default;
}

@media screen and (max-width:768px) {
        .heaircuts{
            flex-direction: column;
        }

        .haircut img{
            max-width: 740px;
        }
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: var(--branco-normal);
}

.footer-icons{
    display: flex;
    gap: 8px;
    color: var(--branco-normal);
   
}

.btn-wpp{
    position: fixed;
    bottom: 20px;
    right: -140px;
    z-index: 99;
}

.btn-wpp img{
    max-width: 74px; 
    transition: Transform 0.4s; 
}

img:hover{
    transform: scale(1.1);
}

.btn-wpp .tooltip-text {
    visibility: hidden;
    position: relative;
    width: 120px;
    top: 8px;
    left:-260px;
    padding: 4px;
    border-radius: 8px black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.308);
    color: var(--branco-normal);
    opacity: 0;
    transition: opacity 0.4s;
}

.btn-wpp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    
}

@media screen and (max-width:768px) {
                .btn-wpp img {
                    max-width: 54px;
            }
        }